:root {
    --text-color-span: Roboto, -apple-system, BlinkMacSystemFont, Roboto, 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {

}

button  {
    padding: 5px 14px !important;
    border-radius: 3px;
    border: none;
    text-align: left;
}

table {

}

table thead th {
    background: #eeeeee;
    font-size: 16px;
    color: #222;
    font-weight: 550;
    border: 1px solid #ddd;
}

table tbody tr td {
    font-size: 14.4px;
    font-family: var(--text-color-span);
    color: #333;
    border: 1px solid #dadada;

}

input[type="checkbox"] {
    width: 18px;
    height: 16px;
}

input[type="checkbox"]:checked {

}
.box_child_menu_edc{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.menu_edc{
    display: none;
}
h3 {
    text-align: center;
}
.search input {
    margin-right: 7%;
    height: 2rem;
    width: 8rem;
    padding: 10px;
    

}

#search-bt1  {
    background-color: #009688;
    color: white;
    border-radius: 50% 50%;
    border-style: none;
    height: 40px;
    width: 40px;

}

#search-bt2  {
    background-color: #2196e3;
    color: white;
    border-radius: 50% 50%;
    border-style: none;
    height: 40px;
    width: 40px;
    margin-left: 10px;

}
#search-bt1:hover,#search-bt2:hover {
    background-color:#cccccc ;
}

 #create {
    background-color: #4caf50;
    border-style: none;
    height: 35px;
    
}
 #create:hover {
    background-color:#cccccc ;
   
}
#create-error {
    background-color: #4caf50;
    border-style: none;
    height: 45px;
}

#create-error:hover {
    background-color:#cccccc ;
}
