:root, :host {
    --color_0: 255, 255, 255;
    --color_1: 255, 255, 255;
    --color_2: 0, 0, 0;
    --color_3: 237, 28, 36;
    --color_4: 0, 136, 203;
    --color_5: 255, 203, 5;
    --color_6: 114, 114, 114;
    --color_7: 176, 176, 176;
    --color_8: 255, 255, 255;
    --color_9: 114, 114, 114;
    --color_10: 176, 176, 176;
    --color_11: 255, 255, 255;
    --color_12: 247, 247, 247;
    --color_13: 187, 189, 200;
    --color_14: 118, 116, 123;
    --color_15: 47, 43, 54;
    --color_16: 215, 217, 251;
    --color_17: 187, 167, 250;
    --color_18: 123, 98, 223;
    --color_19: 97, 77, 176;
    --color_20: 55, 40, 117;
    --color_21: 161, 189, 255;
    --color_22: 117, 128, 250;
    --color_23: 57, 25, 186;
    --color_24: 38, 17, 124;
    --color_25: 19, 8, 62;
    --color_26: 243, 245, 231;
    --color_27: 194, 196, 185;
    --color_28: 146, 147, 139;
    --color_29: 97, 98, 92;
    --color_30: 49, 49, 46;
    --color_31: 253, 214, 196;
    --color_32: 252, 193, 166;
    --color_33: 250, 133, 79;
    --color_34: 167, 89, 53;
    --color_35: 83, 44, 26;
    --color_36: 255, 255, 255;
    --color_37: 0, 0, 0;
    --color_38: 227, 227, 227;
    --color_39: 151, 151, 151;
    --color_40: 79, 79, 79;
    --color_41: 56, 74, 211;
    --color_42: 0, 0, 0;
    --color_43: 151, 151, 151;
    --color_44: 255, 255, 255;
    --color_45: 0, 0, 0;
    --color_46: 0, 0, 0;
    --color_47: 79, 79, 79;
    --color_48: 56, 74, 211;
    --color_49: 56, 74, 211;
    --color_50: 255, 255, 255;
    --color_51: 255, 255, 255;
    --color_52: 56, 74, 211;
    --color_53: 56, 74, 211;
    --color_54: 151, 151, 151;
    --color_55: 151, 151, 151;
    --color_56: 255, 255, 255;
    --color_57: 255, 255, 255;
    --color_58: 56, 74, 211;
    --color_59: 56, 74, 211;
    --color_60: 56, 74, 211;
    --color_61: 56, 74, 211;
    --color_62: 255, 255, 255;
    --color_63: 255, 255, 255;
    --color_64: 151, 151, 151;
    --color_65: 151, 151, 151;
    --font_0: normal normal normal calc(46 * var(--theme-spx-ratio))/1.4em madefor-display, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
    --font_2: normal normal normal calc(36 * var(--theme-spx-ratio))/1.4em madefor-display, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
    --font_3: normal normal normal calc(30 * var(--theme-spx-ratio))/1.4em madefor-display, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
    --font_4: normal normal normal calc(24 * var(--theme-spx-ratio))/1.4em madefor-display, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
    --font_5: normal normal bold calc(21 * var(--theme-spx-ratio))/1.4em madefor-display, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
    --font_6: normal normal normal calc(16 * var(--theme-spx-ratio))/1.4em madefor-text, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
    --font_7: normal normal normal 21px/1.4em madefor-text, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
    --font_8: normal normal normal 15px/1.4em madefor-text, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
    --font_9: normal normal normal 14px/1.4em madefor-text, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
    --font_10: normal normal normal 12px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
    --wix-ads-height: 30px;
    --sticky-offset: 30px;
    --wix-ads-top-height: 30px;
    --vh-unit: calc( (100vh - 30px) / 100);
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
    --theme-spx-ratio: clamp(0.5px,(0.078125 * var(--one-unit)),(var(--section-max-width) / 1280))

}
:root {
    --one-unit : 1cqw;
    --section-max-width: 9999px;
}
:root {
    --wst-button-color-fill-primary: rgb(var(--color_48));
    --wst-button-color-border-primary: rgb(var(--color_49));
    --wst-button-color-text-primary: rgb(var(--color_50));
    --wst-button-color-fill-primary-hover: rgb(var(--color_51));
    --wst-button-color-border-primary-hover: rgb(var(--color_52));
    --wst-button-color-text-primary-hover: rgb(var(--color_53));
    --wst-button-color-fill-primary-disabled: rgb(var(--color_54));
    --wst-button-color-border-primary-disabled: rgb(var(--color_55));
    --wst-button-color-text-primary-disabled: rgb(var(--color_56));
    --wst-button-color-fill-secondary: rgb(var(--color_57));
    --wst-button-color-border-secondary: rgb(var(--color_58));
    --wst-button-color-text-secondary: rgb(var(--color_59));
    --wst-button-color-fill-secondary-hover: rgb(var(--color_60));
    --wst-button-color-border-secondary-hover: rgb(var(--color_61));
    --wst-button-color-text-secondary-hover: rgb(var(--color_62));
    --wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
    --wst-button-color-border-secondary-disabled: rgb(var(--color_64));
    --wst-button-color-text-secondary-disabled: rgb(var(--color_65));
    --wst-color-fill-base-1: rgb(var(--color_36));
    --wst-color-fill-base-2: rgb(var(--color_37));
    --wst-color-fill-base-shade-1: rgb(var(--color_38));
    --wst-color-fill-base-shade-2: rgb(var(--color_39));
    --wst-color-fill-base-shade-3: rgb(var(--color_40));
    --wst-color-fill-accent-1: rgb(var(--color_41));
    --wst-color-fill-accent-2: rgb(var(--color_42));
    --wst-color-fill-accent-3: rgb(var(--color_43));
    --wst-color-fill-accent-4: rgb(var(--color_44));
    --wst-color-fill-background-primary: rgb(var(--color_11));
    --wst-color-fill-background-secondary: rgb(var(--color_12));
    --wst-color-text-primary: rgb(var(--color_15));
    --wst-color-text-secondary: rgb(var(--color_14));
    --wst-color-action: rgb(var(--color_18));
    --wst-color-disabled: rgb(var(--color_39));
    --wst-color-title: rgb(var(--color_45));
    --wst-color-subtitle: rgb(var(--color_46));
    --wst-color-line: rgb(var(--color_47));
    --wst-font-style-h2: var(--font_2);
    --wst-font-style-h3: var(--font_3);
    --wst-font-style-h4: var(--font_4);
    --wst-font-style-h5: var(--font_5);
    --wst-font-style-h6: var(--font_6);
    --wst-font-style-body-large: var(--font_7);
    --wst-font-style-body-medium: var(--font_8);
    --wst-font-style-body-small: var(--font_9);
    --wst-font-style-body-x-small: var(--font_10);
}

